.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    background-color:var(--black);
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

/*Right Side*/
 .image-container{
    width: 28rem;
    height: 35srem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255,0.12);
 }

 .hero-right{
    margin-left: 15%;
 }
 .image-container>img{
    width: 100%;
    height: 100%;
 }